.enterprise {
    background-color: #f6f8f9;
    max-width: 1360px;
    font-family: Helvetica, sans-serif;
    margin: 50px auto;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
}

.enterprise .info {
    width: 50%;
    margin-top: 15px;
}

.sub-title {
    font-weight: bold;
}

.enterprise .title {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.enterprise .desc {
    font-size: 32px;
    line-height: 1.7;
}

.enterprise .btn {
    font-size: 24px;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
}

.enterprise .primary.btn {
    background-color: #786eff;
    color: white;
    margin-right: 15px;
}

.enterprise .secondary.btn {
    background-color: transparent;
}

.enterprise .img {
    position: relative;
    top: 64px;
}
