.enterprise {
    /* background-color: #f6f8f9; */
    max-width: 1820px;
    background-color: #80c2e2;
    margin: 0 auto;
    padding: 6rem 5rem;
}

.enterprise .sub-title {
}

.enterprise .title {
    font-size: 48px;
}

.enterprise .desc {
    font-size: 32px;
}

.enterprise .btn {
    font-size: 24px;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
}

.enterprise .primary.btn {
    background-color: #786eff;
    color: white;
    margin-right: 15px;
}

.enterprise .secondary.btn {
    background-color: transparent;
}
