html {
  font-family: Helvetica, sans-serif;
}

main {
  border: 2px solid;
}

body {
  max-width: 1100px;
  margin: 50px auto;
}

h1 {
  display: inline-block;
  text-transform: uppercase;
}

a,
li,
nav {
  display: inline-block;
}

a {
  color: green;
  text-decoration: none;
  padding: 20px;
}

h2 {
  font-weight: 500;
}
