@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Great Vibes';

body {
    font-family: "Raleway",sans-serif;
    line-height: 1.5;
}

h1,h2 {
    font-family: "Great Vibes",cursive;
    line-height: 1.2;
    font-weight: bold;
}