:root {
    --clr-primary: #185cff;
    --clr-secondary: #002b4e;
    --clr-tertiary: #f0f9ff;
    --clr-helper-blue-1: #194060;
    --clr-helper-blue-2: #607d94;
    --clr-helper-blue-3: #c9dcec;
    --clr-black: #292d33;
    --clr-grey: #9497a1;
    --clr-background: #f1f6fa;
    --clr-danger: #c14040;
}
